

        <form>


            <div class="field-wrap">
            <label for="revenue">Revenue per costumer</label>
            <input type="text" id="revenue" name="revenue" value="" readonly>
            </div>
            <div class="field-wrap">
            <label for="month">How Many Times Per Month?</label>
            <input type="text" id="month" name="month" value="">
            </div>
            <div class="field-wrap">
            <label for="times-month">How Many Months per year?</label>
            <select name="times-month" id="times-month">
              <option>Select a value</option>
            </select>
            
  
            </div>
            <div class="field-wrap">
            <label for="costumer-years">How Many Years Customer Stays With you?</label>
            <input type="text" id="costumer-years" name="costumer-years" value="">
            </div>
  
            <div style=" display:flex; align-items: center;">
  
            <div class="button" id="submit" href="#">Submit</div>
            </div>
          </form>
  
  
        </div>